@media screen And (max-width: 800px) {
  .disp {
    display: flex !important;
    flex-direction: column !important;
  }
}
.addedcart{
  position: fixed;
  top:7vh;
  z-index: 3333;
  width:20%;
  text-align: center;
  background-color: white;
  left:40%;
  height:8vh;
  box-shadow: 4px 6px 2px black;
}
.green{
  color: green;
}